.actual-file {
	display: inline-block;
	background-color: #ededed;
	margin: 20px 0;
	padding: 1em;
}

.actual-file__image {
	height: auto;
	width: 300px;
}

.rmt { margin-top: 30px }

.cta__upload {
	display: 'block';
	width: '100%';
	height: '100%'
}

.cta__upload span {
	color: #fff;
	padding: 0 1em
}

.cta__upload svg { vertical-align: middle }