html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	position: relative;
}

.container {
	width: 90%;
	margin: 0 auto;
}

code,
pre,
.code {
	background-color: rgba(27,31,35,0.05);
	border-radius: 3px;
	font-family: monospace;
	font-size: 85%;
	margin: 0;
	padding: 0.2em 0.4em;
	word-break: break-all;
}

a {
	text-decoration: none
}

.message {
	padding: .5em;
	border: 1px solid;
}

.message--error {
	border-color: #660000;
	background-color: #DD0000;
	color: #660000;
}

.message--warning {
	border-color: #ab9f02;
	background-color: #ddcc00;
	color: #ab9f02;
}

img.full-width {
	max-width: 100%;
	height: auto;
}